footer.footer-area.p_120
    .container
        .row
            .offset-3.col-md-3.col-sm-6
                .single-footer-widget
                    //- h6.footer_title About Us
                    //- p
                    //-     | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
            .col-md-3.col-sm-6
                .single-footer-widget.f_social_wd
                    //- h6.footer_title Follow Us
                    //- p Let us be social
                    //- .f_social
                    //-     a(href='#')
                    //-         i.fa.fa-twitter
        .row.footer-bottom
            p.col-lg-12.footer-text.text-center
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                | Copyright ©
                script.
                    document.write(new Date().getFullYear());
                | &nbsp;All rights reserved | This template is made with&nbsp;
                i.fa.fa-heart-o(aria-hidden='true')
                | &nbsp;by&nbsp;
                a(href='https://colorlib.com', target='_blank') Colorlib
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
