head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel='icon', href='/img/favicon.png', type='image/png')
    title #{ meta.title } | #{ app.name }

    meta(name="robots" content="noindex, nofollow")

    meta(name="description", content=`${ meta.description || app.description }`)
    meta(name="keywords", conent=`${ meta.keywords || app.keywords }`)
    meta(name="generator" content="nera - 1.0.0")

    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/vendors/linericon/style.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/vendors/owl-carousel/owl.carousel.min.css')
    link(rel='stylesheet', href='/vendors/lightbox/simpleLightbox.css')
    link(rel='stylesheet', href='/vendors/nice-select/css/nice-select.css')
    link(rel='stylesheet', href='/vendors/animate-css/animate.css')
    link(rel='stylesheet', href='/vendors/jquery-ui/jquery-ui.css')

    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/responsive.css')
    link(rel='stylesheet', href='/css/adjustments.css')
    link(rel="stylesheet", href="/css/prism.css")
