.main_menu
    nav.navbar.navbar-expand-lg.navbar-light
        .container.box_1620

            a.navbar-brand.logo_h(href='/index.html')
                +logo

            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.icon-bar
                span.icon-bar
                span.icon-bar

            #navbarSupportedContent.collapse.navbar-collapse.offset
                ul.nav.navbar-nav.menu_nav
                    each item in app.mainNav.elements
                        - const currentClass = item.href.includes(meta.htmlPathName) || item.href.includes(meta.category) ? app.mainNav.activeClass : ''
                        li.nav-item(class=currentClass)
                            a.nav-link(href=item.href) #{ item.name }

                ul.nav.navbar-nav.navbar-right.header_social.ml-auto
                    li.nav-item
                        a(href='https://twitter.com/seebaermichi', target="_blank")
                            i.fa.fa-twitter
