include ../mixins/header.pug
include ../mixins/logo.pug

doctype html
html(lang=app.lang)
  include ../partials/head.pug

  body
    +header

    block content

    include ../partials/footer.pug

    include ../partials/footer-scripts.pug
