:root {
  --laravelRed: #f4645f;
}

h3 {
  margin-top: 30px;
}

.header_area_home + section {
  margin-top: 105px;
}

.home_banner_area {
  background: linear-gradient(
    to bottom,
    #fff 3%,
    var(--laravelRed) 3%,
    var(--laravelRed) 97%,
    #fff 97%
  );
}

.home_banner_logo {
  position: relative;
}

.home_banner_logo svg {
  height: 345px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -11%;
  width: 504px;
}

.home_banner_area .blog_text_slider {
  padding-top: 0;
  padding-bottom: 0;
}

.home_banner_area .blog_text_slider .owl-prev,
.home_banner_area .blog_text_slider .owl-next {
  color: #fff;
}

@media (max-width: 1619px) {
  .home_banner_area .blog_text_slider .owl-prev,
  .home_banner_area .blog_text_slider .owl-next {
    right: -55px;
  }
}

.owl-carousel .owl-stage-outer {
  background: #fff;
  border: 1px solid var(--laravelRed);
}
