include logo.pug

mixin header(isHome=false)
    header.header_area(class=`${ isHome ? 'header_area_home' : '' }`)
        include ../partials/main-menu.pug
        .logo_part
            .container
                if !isHome
                    a.logo(href='/index.html')
                        +logo
