include helpers.pug

mixin homeTeaser(teaser, index)
    article.blog_style1(class=`${index != 0 ? 'small' : '' }`)
        .blog_img
            if index == 0
                img.img-fluid(src=`https://source.unsplash.com/${teaser.image}/770x340`, alt='')
            else
                img.img-fluid(src=`https://source.unsplash.com/${teaser.image}/370x280`, alt='')
        .blog_text
            .blog_text_inner
                .cat
                    a.btn.cat_btn(href=`/categories/${teaser.category}.html`)
                        +ucFirst(teaser.category)
                a(href='single-blog.html')
                    h4 #{ teaser.title }
                p
                    | #{ teaser.description }
                a.blog_btn(href=teaser.href) Read More
