extends ../layouts/default

block content
    section.blog_area.p_120.single-post-area
        .container
            .row
                .col-lg-8
                    .main_blog_details
                        h1 #{ meta.title }
                        ul
                            each link in meta.categoryPostLinks
                                li
                                    a(href=link.href) #{ link.name }
