extends ../layouts/home

include ../mixins/home-teaser.pug
include ../mixins/helpers.pug

block content
    section.home_banner_area
        .container
            .row
                .col-lg-5.home_banner_logo
                    +logo('#fff')

                .col-lg-7
                    .blog_text_slider.owl-carousel
                        each item in meta.homeSlides
                            .item
                                .blog_text
                                    .cat
                                        a.btn.cat_btn(href=`/categories/${item.category.toLowerCase()}.html`)
                                            +ucFirst(item.category)
                                    a(href=item.href)
                                        h4 #{ item.title }
                                    p #{ item.description }
                                    a.blog_btn(href=item.href) Read More

    section.blog_area.p_120
        .container
            .row
                .col-lg-8
                    .blog_left_sidebar
                        each teaser, index in meta.homeTeasers
                            if index == 0
                                +homeTeaser(teaser, index)
                            else
                                if index % 2 != 0
                                    .row
                                        .col-md-6
                                            +homeTeaser(meta.homeTeasers[index], index)
                                        if index + 1 < meta.homeTeasers.length
                                            .col-md-6
                                                +homeTeaser(meta.homeTeasers[index + 1], index)

                .col-lg-4
                    .blog_right_sidebar
                        aside.single_sidebar_widget.popular_post_widget
                            h3.widget_title Popular
                            each post in meta.popularPosts
                                .media.post_item
                                    img(src=src=`https://source.unsplash.com/${post.image}/100x60`, alt='post')
                                    .media-body
                                        a(href=post.href)
                                            h3 #{ post.title }
                                        p #{ post.createdAt }

                            .br
                        aside.single_sidebar_widget.post_category_widget
                            h4.widget_title Catgories
                            ul.list.cat-list
                                each item in app.statistics.amountOfCategories
                                    li
                                        a.d-flex.justify-content-between(href=`/categories/${ item.category }.html`)
                                            p
                                                +ucFirst(item.category)
                                            p #{ item.amount }
