extends ../layouts/default

include ../mixins/helpers.pug

block content
    section.banner_area(style=`background-image: url(https://source.unsplash.com/${meta.unsplashImageId}/1145x400)`)
        .container
            .row.banner_inner
                .col-lg-5
                .col-lg-7
                    .banner_content.text-center
                        h2 #{ meta.title }
                        .page_link
                            a(href='/index.html') Home
                            a(href=`/categories/${meta.category.toLowerCase()}.html`)
                                +ucFirst(meta.category)
                            a(href=`#${ meta.slug }`) #{ meta.title }

    section.blog_area.p_120.single-post-area(id=meta.slug)
        .container
            .row
                .col-lg-8
                    .main_blog_details
                        h1 #{ meta.title }
                        | !{ content }
